
.flash-box
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name taka
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
          = fa_icon 'edit', class: "fa"
          %li.side-header__box__menu__edit-user
          = fa_icon 'cog', class: "fa"
    .groups
      .group
        %p.group__group-name fun
        %p.group__latest-message so good
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group fun
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member jin
      .main-header__edit-btn Edit
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker taka
          %p.message__upper-info__date 2019/09/12
        %p.message__text fantastic

    .form
      %form#input-box.input-box
        %input.input-box__text{placeholder: "type a message"}
        %label.input-box__image
          = fa_icon 'image', class: "fa"
      %input.submit-btn{value: "Send"}


