.flash-box
.wrapper
  .chat-side
    %header.side-header
      %header.side-header__box
        %p.side-header__box__user-name taka
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            %a.link{href: "/groups/new"}
              %i.icon
              = fa_icon 'edit'
              %span<>
          %li.side-header__box__menu__edit-user
            %a.link{href: "/users/edit"}
              %i.icon
              = fa_icon 'cog'
              %span<>
    .groups
      .group
        %p.group__group-name fun
        %p.group__latest-message so good

  .chat-main
    %header.main-header
      %header.main-header__left-box
        %h2.main-header__left-box__current-group fun
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member jin
      .main-header__edit-btn Edit
      %a{href: "/groups/edit"}
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker taka
          %p.message__upper-info__date 2019/09/12
        %p.message__text fantastic

    .form
      %form#input-box.input-box
        %input.input-box__text{placeholder: "type a message"}
        %label.input-box__image
          %i.icon
          = fa_icon 'image'
      %input.submit-btn{value: "Send"}




