// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash-box {
  color: $section-color;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  .chat-side {
    float: left;
    width: 300px;
    color: $section-color;
    .side-header {
      display: flex;
      box-sizing: border-box;
      height: 100px;
      align-items: center;
      padding: 0 20px;
      background-color: #253141;
      &__box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
        &__menu {
          display: flex;
          &__new-group {
            margin-left: 0.3rem;
            .link {
              text-decoration: none;
              color: $section-color;
            }
            .icon {
              display: inline-block;
            }  
          }
          &__edit-user {
            margin-left: 0.3rem;
            .link {
              text-decoration: none;
              color: $section-color;
            }
            .icon {
              display: inline-block;
            }
          }
        }
      }
    }
    .groups {
      overflow: scroll;
      height: calc(100vh - 100px);
      box-sizing: border-box;
      padding: 20px 20px 0;
      background-color: #2f3e51;
      .group {
        margin-bottom: 40px;
          &__group-name {
            margin-bottom: 5px;
            font-size: 15px;
          }
          &__latest-message {
            font-size: 11px;
          }
      }
    }
  }

  .chat-main {
    float: left;
    width: calc(100vw - 300px);
    top: 0;
    right: 0;
    .main-header {
      display: flex;
      justify-content: space-between;
      height: 100px;
      padding: 0 40px;
      border-bottom: solid 1px #eeeeee;
      overflow: scroll;
      &__left-box {
        margin-top: 35px;
        &__current-group {
          font-size: 20px;
          color: #333333;
          margin-bottom: 15px;
        }
        &__member-list {
          display: flex;
          color: #999999;
          font-size: 12px;
        }
      }
      &__edit-btn {
        position: absolute;
        right: 40px;
        height: 40px;
        line-height: 40px;
        margin-top: 30px;
        padding: 0 20px;
        cursor: pointer;
        color: $blue-color;
        border: solid 1px $blue-color;
      }
    }
    .messages {
      display: flex;
      box-sizing: border-box;
      height: calc(100vh - 100px);
      padding: 46px 40px 0;
      background-color: #fafafa;
      overflow: scroll;
      .message {
        padding-bottom: 40px;
        &__upper-info {
          display: flex;
          margin-bottom: 10px;
          &__talker {
            font-size: 16px;
            color: #434a54;
            font-weight: bold;
          }
          &__date {
            font-size: 12px;
            color: #999999;
            margin-left: 10px;
          }
        }
        &__text {
          color: #434a54;
          margin-bottom: 10px;
          font-size: 14px;
        }
      }
    }
    .form {
      bottom: 0;
      position: fixed;
      padding: 20px 40px;
      height: 50px;
      width: calc(100vw - 380px);
      display: flex;
      background-color: #ddd;      
      .input-box {
        display: flex;
        position: relative;
        width: calc(100% - 100px);
        &__text {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434A54;
          border-style: none;
        }
        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          .icon {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
      .submit-btn {
        display: flex;
        width: 50px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        text-align: center;
        cursor: pointer;
        color: $section-color;
        background-color: $blue-color;
      }
    }
  }
}
